table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  border-left: 1px solid black;
  border-collapse: collapse;
  display: inline-list-item;
  text-align: center;
}
