<!--<h1>Order List</h1>
<div class="table">
  <table>
    <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Date</th>
      <th>Product Name</th>
      <th>User Id </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orderList" (click)="OnClick(order)">
      <td>{{order.id}}</td>
      <td>{{order.date}}</td>
      <td>{{order.productName}}</td>
      <td>{{order.userId}}</td>
    </tr>
    </tbody>
  </table>
</div>
-->


<div class="event-schedule-area-two bg-color pad100">
  <div class="container">
    <!-- row end-->
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="home" role="tabpanel">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Date</th>
                    <th scope="col">Product name</th>
                    <th scope="col">user Id</th>
                    <th scope="col">Details</th>
                    <!--<th class="text-center" scope="col">Venue</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr class="inner-box" *ngFor="let order of orderList">
                    <th scope="row">
                      <div>
                        <span>{{order.date}}</span>
                      </div>
                    </th>
                    <td>
                      <div class="event-img">
                        <h3>{{order.productName}}</h3>
                      </div>
                    </td>
                    <td>
                      <div class="event-wrap">
                        <h3>
                          {{order.userId}}
                        </h3>
                      </div>
                    </td>
                    <td>
                      <div class="primary-btn">
                        <button type="button" class="btn btn-primary btn-lg" (click)="OnClick(order)"> Read More</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /col end-->
    </div>
    <!-- /row end-->
  </div>
</div>